################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
node_modules
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
/.vs
*.user
/apps/Acontplus.TestHostApi/appsettings.Development.json
/apps/Acontplus.TestHostApi/appsettings.Development.json
apps/src/Acontplus.TestHostApi/appsettings.Development.json
